@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-L.ttf");
}

* {
    padding: 0;
    margin: 0;
    font-family: Ubuntu;
    outline: none;
}

html {
    height: 100%;
}

body {
    color: #fff;
    height: 100%;
}


a {
    text-decoration: none;
    color: #fff;
}

#main {
    width: 100%;
    height: 100%;
    background: #00539f;
}

#main section {
    display: none;
    position: relative;
}

#main section#index {
    display: block;
}

#main section header.line span {
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

#main section .line {
    display: block;
    width: 100%;
    height: 10%;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

#main section .line.dark-blue {
    background: #00539f;
}

#main section a.line.dark-blue:active, #main section .line.dark-blue a:active {
    background-color: #0095dd;
}

#main section .line.light-blue {
    background-color: #0095dd;
}

#main section a.line.light-blue:active, #main section .line.light-blue a:active {
    background-color: #00539f;
}

#main section .line.dark-orange {
    background-color: #e66000;
}

#main section a.line.dark-orange:active, #main section .line.dark-orange a:active {
    background-color: #ff9500;
}

#main section .line.light-orange {
    background-color: #ff9500;
}

#main section a.line.light-orange:active, #main section .line.light-orange a:active {
    background-color: #e66000;
}

#main section .text-light-blue {
    color: #0095dd;
}

#main section .text-dark-blue {
    color: #00539f;
}

#main section .text-light-orange {
    color: #ff9500;
}

#main section .line.text-dark-orange {
    color: #e66000;
}

#main section .line span {
    margin-left: 5%;
}

#main section .line .text {
    line-height: normal;
    padding: 5% 10%;
}

#main section .line .text a {
    color: #0095dd;
}

#main section .line .text.credits a {
    color: #fff;
}

#main section .line .text .center a {
    display: inline-block;
    margin: 0 5%;
}

#main section .line .text .center .link-site, #main section .line .text .center .link-site a {
    margin:0;    
}

#main section .line .text .cmd {
    background: #0095dd;
    padding: 1%;
}

#main section#credits .line span span {
    font-size: 0.7em;
}

#main section .line .w20 {
    width: 20%;
    height: 100%;
    text-align: center;
}

#main section .line .w25 {
    width: 25%;
    height: 100%;
    text-align: center;
}

#main section .line .w33 {
    display: inline-block;
    width: 33%;
    height: 100%;
    text-align: center;
}

#main section .line .w50 {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
}

#main section .line .w60 {
    display: inline-block;
    width: 60%;
    height: 100%;
}

/*#main section .h50 {
    display: table-cell;
    background: #f0f;
}*/

#main section .h60, #main section .h70, #main section .h90 {
    overflow-y: scroll;
}

/*#main section .line .arrow.left {
    background: url("../img/icons/arrow-left.png") no-repeat center;
    background-size: auto 30%;
}

#main section .line .arrow.right {
    background: url("../img/icons/arrow-right.png") no-repeat center;
    background-size: auto 30%;
}

#main section .line .trash {
    background: url("../img/icons/trash.png") no-repeat center;
    background-size: auto 40%;
}*/

/* Music / Video _____________________________________________________________*/

#main section .line .playlists {
    background: url("../img/icons/playlists.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .slider {
    margin: 0 auto;
    position: relative;
}

#main section .line .slider .ui-slider {
    margin: -1.505em auto 0 auto;
    border-radius: 100px;
    background: url("../img/layout/black-transparent.png");
    border: none;
}

#main section .line .slider .ui-slider-range {
    background: #fff;
    border-radius: 100px;
}

#main section .line .slider .ui-slider-handle {
    width: 1.1em;
    height: 1.1em;
    border-radius: 100px;
    border: 3px solid #fff;
}

#main section .line.dark-blue .ui-slider-handle {
    background: #0095dd;
}

#main section .line.light-blue .ui-slider-handle {
    background: #00539f;
}

#main section .line.dark-orange .ui-slider-handle {
    background: #ff9500;
}

#main section .line.light-orange .ui-slider-handle {
    background: #e66000;
}

/*#main section .line .sound-min {
    background: url("../img/icons/sound-min.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .sound-max {
    background: url("../img/icons/sound-max.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .stop {
    background: url("../img/icons/stop.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .aleatory {
    background: url("../img/icons/aleatory.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .prev {
    background: url("../img/icons/prev.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .play {
    background: url("../img/icons/play.png") no-repeat center;
    background-size: auto 70%;
}

#main section .line .pause {
    background: url("../img/icons/pause.png") no-repeat center;
    background-size: auto 70%;
}

#main section .line .next {
    background: url("../img/icons/next.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .mute {
    background: url("../img/icons/mute.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .fullscreen {
    background: url("../img/icons/fullscreen.png") no-repeat center;
    background-size: auto 50%;
}*/

#main section .line .play-slideshow {
    background: url("../img/icons/play-slideshow.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .exit-slideshow {
    background: url("../img/icons/exit-slideshow.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .mouse {
    background: url("../img/icons/mouse.png") no-repeat center;
    background-size: auto 50%;
}

/*#main section .h20 .repeat {
    background: url("../img/icons/repeat.png") no-repeat center;
    background-size: auto 50%;
}*/

/* Playlists _________________________________________________________________*/

/*#main section .h60 .line span, #main section #now-playing span {
    display: block;
}

#main section #now-playing span {
    line-height: normal;
}

#main section .h60 .line span span, #main section #now-playing span span {
    margin: 0;
}*/

/* Add Server ________________________________________________________________*/

#main section .line .fields {
    margin: 0 auto;
    overflow: hidden;
}

#main section .line .fields input, #main section .line .fields select {
    display: inline-block;
    padding: 0 5%;
    border: none;
    border-radius: 5px;
    background: #fff;
    float: left;
}

#main section .line .fields select {
    color:#999;
}

/* Controls __________________________________________________________________*/

/*#main section .line .lock {
    background: url("../img/icons/lock.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .unlock {
    background: url("../img/icons/unlock.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .alt-tab {
    background: url("../img/icons/alt-tab.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .ok {
    background: url("../img/icons/ok.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .reboot {
    background: url("../img/icons/reboot.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .shutdown {
    background: url("../img/icons/shutdown.png") no-repeat center;
    background-size: auto 40%;
}

#main section .line .light-screen {
    background: url("../img/icons/light-screen.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .dark-screen {
    background: url("../img/icons/dark-screen.png") no-repeat center;
    background-size: auto 50%;
}

/* Touchpad __________________________________________________________________*/

#main section #canvas {
    background: url("../img/layout/touch.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .left-click {
    background: url("../img/icons/left-click.png") no-repeat center;
    background-size: auto 50%;
}

#main section .line .right-click {
    background: url("../img/icons/right-click.png") no-repeat center;
    background-size: auto 50%;
}

/* Resets ____________________________________________________________________*/

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.fa {
    vertical-align:middle;
}

/* Custom commands ___________________________________________________________*/
#main section#custom-commands .line a {
    padding-left: 5%;
}

/* Scroll box ________________________________________________________________*/
.scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}
