Package: linux-remote-control
Version: 0.3.1
Section: web
Priority: optional
Architecture: all
Installed-Size: 17600
Depends: nodejs, xdotool, xbacklight
Maintainer: Raphael Agneli <contact@linuxremotecontrol.com>
Description: lrc-server
 This package will install the follow dependences in your system:
 - Node.js
 - Xdotool
 - Xbacklight
Homepage: http://www.linuxremotecontrol.com/
